/* #content {
    height: 100px;
    width: 200px;
    background-color: aqua;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.container {
    color: #fbfbff;
    background-color: rgb(246, 5, 5);
    border-radius: 12px;
    border-color: rgb(246, 5, 5);
    margin-top: 20px;
    margin-left: 15px;
    
} */
.box {
    height: 150px;
    width: 150px;
}

.bttn1 {
    background-color: green;
}

.bttn2 {
    background-color: rgb(0, 184, 246);
}

.bttn3 {
    background-color: yellow;
}

.bttn4 {
    background-color: orange;
}